<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"> <!-- SDK Use required by Octo -->
    <uses-sdk tools:overrideLibrary="android.support.dynamicanimation" />

    <!-- Permission required by Nyandroid -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Permission required by Neko -->
    <uses-permission android:name="android.permission.SUBSTITUTE_NOTIFICATION_APP_NAME" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BIND_CONTROLS" tools:ignore="ProtectedPermissions" />

    <!-- For installing the app update. Comment this out before we generate the Google Play AAB -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data android:name="android.allow_multiple_resumed_activities" android:value="true" />

        <activity
            android:name=".MainScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/static_shortcuts" />
        </activity>
        <activity
            android:name=".MainSettings"
            android:label="@string/title_activity_main_settings" />
        <activity android:name=".CurrentEgg" />

        <!-- U (14) Egg Activities -->
        <activity android:name=".eggs.upside_down_cake.PlatLogoActivityUpsideDownCake"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:icon="@drawable/u_platlogo"
            android:process=":ui" />
        <activity
            android:name=".eggs.upside_down_cake.easter_egg.landroid.MainActivity"
            android:exported="true"
            android:label="@string/u_egg_name"
            android:icon="@drawable/u_android14_patch_adaptive"
            android:configChanges="orientation|screenLayout|screenSize|density"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.android.internal.category.PLATLOGO" />
            </intent-filter>
        </activity>


        <!-- T/Tiramisu (13) Egg Activities -->
        <activity android:name=".eggs.tiramisu.PlatLogoActivityTiramisu"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:icon="@drawable/tiramisu_platlogo"
            android:process=":ui" />

        <!-- S (12) Egg Activities -->
        <activity android:name=".eggs.snow_cone.PlatLogoActivitySnowCone"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:icon="@drawable/s_platlogo"
            android:process=":ui" />
        <!-- List of all system theme colors on the device. -->
        <activity
            android:name=".eggs.snow_cone.easter_egg.widget.PaintChipsActivity"
            android:theme="@android:style/Theme.Material.Wallpaper.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:label="@string/s_egg_name"
            android:enabled="false"
            android:exported="true" />
        <!-- Homescreen widget also showing paint chips (may be affected by the exact position in
             the workspace) -->
        <receiver
            android:name=".eggs.snow_cone.easter_egg.widget.PaintChipsWidget"
            android:label="@string/s_egg_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/s_paint_chips_widget_info" />
        </receiver>
        <activity
            android:name=".eggs.snow_cone.easter_egg.widget.WidgetActivationActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay" />

        <!-- R (11) Egg Activities -->
        <activity android:name=".eggs.red_velvet_cake.PlatLogoActivityRedVelvetCake"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@drawable/r_platlogo"
            android:process=":ui"/>
        <!-- Long press the QS tile to get here -->
        <activity
            android:name=".eggs.red_velvet_cake.EasterEgg.neko.NekoLand"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
        </activity>

        <!-- This is where the magic happens -->
        <service
            android:name=".eggs.red_velvet_cake.EasterEgg.neko.NekoService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Used to show over lock screen -->
        <activity
            android:name=".eggs.red_velvet_cake.EasterEgg.neko.NekoLockedActivity"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.Dialog.NoActionBar" />

        <!-- Used to enable easter egg -->
        <activity
            android:name=".eggs.red_velvet_cake.EasterEgg.neko.NekoActivationActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoDisplay" />

        <service android:name=".eggs.red_velvet_cake.EasterEgg.neko.NekoControlsService"
            android:permission="android.permission.BIND_CONTROLS"
            android:label="@string/r_egg_name"
            android:icon="@drawable/r_ic_fullcat_icon"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.controls.ControlsProviderService" />
            </intent-filter>
        </service>

        <!-- Q (10) Egg Activities -->
        <activity android:name=".eggs.quince_tart.PlatLogoActivityQuinceTart"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@drawable/q_platlogo"
            android:process=":ui" />

        <activity android:name=".eggs.quince_tart.EasterEgg.quares.QuaresActivity"
            android:icon="@drawable/q_icon"
            android:label="@string/q_egg_name"
            android:theme="@style/AppTheme.QEgg.QuaresTheme" />

        <!-- Pie Egg Activities -->
        <activity android:name=".eggs.pie.PlatLogoActivityPie"
            android:configChanges="orientation|keyboardHidden"
            android:process=":ui"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"/>
        <activity
            android:name=".eggs.pie.EasterEgg.paint.PaintActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:label="@string/p_egg_name"
            android:theme="@style/AppTheme.PieEgg" />

        <!-- Oreo MR1 Egg Activities -->
        <activity
            android:name=".eggs.oreo_mr1.PlatLogoActivityOreoMR1"
            android:configChanges="orientation|keyboardHidden"
            android:process=":ui"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen" />

        <!-- Oreo Egg Activities -->
        <activity
            android:name=".eggs.oreo.PlatLogoActivityOreo"
            android:configChanges="orientation|keyboardHidden"
            android:process=":ui"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen" />
        <activity
            android:name=".eggs.oreo.EasterEgg.octo.Ocquarium"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen" />

        <!-- Nougat Egg Activities -->
        <activity
            android:name=".eggs.nougat.PlatLogoActivityNougat"
            android:configChanges="orientation|keyboardHidden"
            android:process=":ui"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen" />

        <!-- Long press the QS tile to get here -->
        <activity
            android:name=".eggs.nougat.EasterEgg.neko.NekoLand"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <!-- This is where the magic happens -->
        <service
            android:name=".eggs.nougat.EasterEgg.neko.NekoService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Used to show over lock screen -->
        <activity
            android:name=".eggs.nougat.EasterEgg.neko.NekoLockedActivity"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.Dialog.NoActionBar" />

        <!-- Used to enable easter egg -->
        <activity
            android:name=".eggs.nougat.EasterEgg.neko.NekoActivationActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoDisplay" />

        <!-- The quick settings tile, disabled by default -->
        <service
            android:name=".eggs.nougat.EasterEgg.neko.NekoTile"
            android:enabled="false"
            android:icon="@drawable/nougat_stat_icon"
            android:label="@string/nougat_default_tile_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- NDP Egg Activities -->
        <activity
            android:name=".eggs.ndp.PlatLogoActivityNDP"
            android:configChanges="orientation|keyboardHidden"
            android:process=":ui"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"/>

        <!-- Marshmallow Egg Activities -->
        <activity
            android:name=".eggs.marshmallow.PlatLogoActivityMARSHMALLOW"
            android:configChanges="orientation|keyboardHidden"
            android:process=":ui"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"/>
        <activity
            android:name=".eggs.marshmallow.MLandActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/marshmallow_icon"
            android:label="@string/title_activity_plat_logo_activity_marshmallow_mland"
            android:launchMode="singleInstance"
            android:process=":sweetsweetdesserts"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- MNC Egg Activity -->
        <activity
            android:name=".eggs.mnc.PlatLogoActivityMNC"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_plat_logo_activity_mnc"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator"/>

        <!-- Lollipop Easter Egg Activities -->
        <activity
            android:name=".eggs.lollipop.LLandActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_lland"
            android:launchMode="singleInstance"
            android:process=":flappydroid"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".eggs.lollipop.PlatLogoActivityLOLLIPOP"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_plat_logo_activity_lollipop"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator"/>

        <!-- KitKat Egg Activity -->
        <activity
            android:name=".eggs.kitkat.PlatLogoActivityKITKAT"
            android:label="@string/title_activity_plat_logo_activity_kitkat"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".eggs.kitkat.DessertCase"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_dessert_case"
            android:launchMode="singleInstance"
            android:process=":sweetsweetdesserts"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator"/>
        <!-- a gallery of delicious treats -->
        <service
            android:name=".eggs.kitkat.DessertCaseDream"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/dessert_case"
            android:process=":sweetsweetdesserts"
            tools:ignore="ExportedService,InnerclassSeparator">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- Jelly Bean Egg Activities -->
        <activity
            android:name=".eggs.jelly_bean.PlatLogoActivityJELLYBEAN"
            android:label="@string/title_activity_plat_logo_activity_jellybean"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".eggs.jelly_bean.BeanBag"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/jb_redbeandroid"
            android:label="@string/title_activity_bean_bag"
            android:launchMode="singleInstance"
            android:process=":beanbag"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator"/>

        <!-- Ice Cream Sandwich Egg Activities -->
        <activity
            android:name=".eggs.ice_cream_sandwich.PlatLogoActivityICS"
            android:label="@string/title_activity_plat_logo_activity_ics"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".eggs.ice_cream_sandwich.Nyandroid"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ics_nyandroid04"
            android:label="@string/title_activity_nyandroid"
            android:launchMode="singleInstance"
            android:process=":nyandroid"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator"/>

        <!-- Honeycomb Egg Activity -->
        <activity
            android:name=".eggs.honeycomb.PlatLogoActivityHONEYCOMB"
            android:label="@string/title_activity_plat_logo_activity_honeycomb"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator"/>

        <!-- Gingerbread Egg Activity -->
        <activity
            android:name=".eggs.gingerbread.PlatLogoActivityGINGERBREAD"
            android:label="@string/title_activity_plat_logo_activity_gingerbread"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator"/>
    </application>

</manifest>