<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itachi1706.droideggs"
    android:installLocation="auto" >

    <!-- Permission required by Nyandroid -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Permission required by Updater -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainSettings"
            android:label="@string/title_activity_main_settings" >
        </activity>

        <!-- Marshmallow Egg Activities -->
        <activity android:name=".MarshmallowEgg.PlatLogoActivityMARSHMALLOW"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            android:configChanges="orientation|keyboardHidden"
            android:process=":ui">
        </activity>
        <activity android:name=".MarshmallowEgg.MLandActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:icon="@drawable/marshmallow_icon"
            android:label="@string/title_activity_plat_logo_activity_marshmallow_mland"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:screenOrientation="locked"
            android:process=":sweetsweetdesserts"
            android:excludeFromRecents="true">
        </activity>

        <!-- MNC Egg Activity -->
        <activity
            android:name=".MNCEgg.PlatLogoActivityMNC"
            android:label="@string/title_activity_plat_logo_activity_mnc"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator">
        </activity>

        <!-- Lollipop Easter Egg Activities -->
        <activity
            android:name=".LollipopEgg.LLandActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_lland"
            android:launchMode="singleInstance"
            android:process=":flappydroid"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name=".LollipopEgg.PlatLogoActivityLOLLIPOP"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_plat_logo_activity_lollipop"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" >
        </activity>

        <!-- KitKat Egg Activity -->
        <activity
            android:name=".KitKatEgg.PlatLogoActivityKITKAT"
            android:label="@string/title_activity_plat_logo_activity_kitkat"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name=".KitKatEgg.DessertCase"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_dessert_case"
            android:launchMode="singleInstance"
            android:process=":sweetsweetdesserts"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <!-- a gallery of delicious treats -->
        <service
            android:name=".KitKatEgg.DessertCaseDream"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/dessert_case"
            android:process=":sweetsweetdesserts"
            tools:ignore="ExportedService,InnerclassSeparator" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- Jelly Bean Egg Activities -->
        <activity
            android:name=".JellyBeanEgg.PlatLogoActivityJELLYBEAN"
            android:label="@string/title_activity_plat_logo_activity_jellybean"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name=".JellyBeanEgg.BeanBag"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/jb_redbeandroid"
            android:label="@string/title_activity_bean_bag"
            android:launchMode="singleInstance"
            android:process=":beanbag"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" >
        </activity>

        <!-- Ice Cream Sandwich Egg Activities -->
        <activity
            android:name=".IceCreamSandwichEgg.PlatLogoActivityICS"
            android:label="@string/title_activity_plat_logo_activity_ics"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name=".IceCreamSandwichEgg.Nyandroid"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ics_nyandroid04"
            android:label="@string/title_activity_nyandroid"
            android:launchMode="singleInstance"
            android:process=":nyandroid"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" >
        </activity>

        <!-- Honeycomb Egg Activity -->
        <activity
            android:name=".HoneycombEgg.PlatLogoActivityHONEYCOMB"
            android:label="@string/title_activity_plat_logo_activity_honeycomb"
            android:theme="@style/AppTheme.Wallpaper.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" >
        </activity>

        <!-- Gingerbread Egg Activity -->
        <activity
            android:name=".GingerbreadEgg.PlatLogoActivityGINGERBREAD"
            android:label="@string/title_activity_plat_logo_activity_gingerbread"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" >
        </activity>
    </application>

</manifest>
