<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itachi1706.droideggs"
    android:installLocation="auto" >

    <!-- Permission required by Nyandroid -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Lollipop Easter Egg Activities -->
        <activity
            android:name=".LollipopEgg.LLandActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_lland"
            android:launchMode="singleInstance"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" >
        </activity>
        <activity
            android:name=".LollipopEgg.PlatLogoActivityLOLLIPOP"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_plat_logo_activity_lollipop"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator" >
        </activity>

        <!-- Ice Cream Sandwich Egg Activities -->
        <activity
            android:name=".IceCreamSandwichEgg.PlatLogoActivityICS"
            android:label="@string/title_activity_plat_logo_activity_ics"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".IceCreamSandwichEgg.Nyandroid"
            android:label="@string/title_activity_nyandroid"
            android:icon="@drawable/ics_nyandroid04"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            tools:ignore="InnerclassSeparator">
        </activity>
    </application>

</manifest>
