name: Android CI

on: [push,pull_request,pull_request_target]

jobs:
  build:
    name: Android Compilation Test
    runs-on: ubuntu-latest
    if: (github.event_name == 'pull_request_target' && github.actor == 'dependabot[bot]') || (github.event_name != 'pull_request_target' && github.actor != 'dependabot[bot]')
    steps:
    - name: Checkout Repository
      if: ${{ github.event_name != 'pull_request_target' }}
      uses: actions/checkout@v6
    - name: Checkout Repository PR
      if: ${{ github.event_name == 'pull_request_target' }}
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'gradle'
    - name: Copy secure values
      run: echo $GOOGLE_SERVICES > ./app/google-services.json
      env:
        GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
    - name: Make Gradle executable
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload lint artifact
      uses: actions/upload-artifact@v4
      with:
        name: lint-artifact
        path: app/build/reports/lint-results-debug.html
  device-test:
    runs-on: ubuntu-latest
    name: Android Device Test Runner
    if: (github.event_name == 'pull_request_target' && github.actor == 'dependabot[bot]') || (github.event_name != 'pull_request_target' && github.actor != 'dependabot[bot]')
    steps:
    - name: Checkout Repository
      if: ${{ github.event_name != 'pull_request_target' }}
      uses: actions/checkout@v6
    - name: Checkout Repository PR
      if: ${{ github.event_name == 'pull_request_target' }}
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Run lscpu
      run: lscpu
    - name: Enable KVM group perms
      run: |
        echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
        sudo udevadm control --reload-rules
        sudo udevadm trigger --name-match=kvm
    - name: Copy secure values
      run: echo $GOOGLE_SERVICES > ./app/google-services.json
      env:
        GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
    - name: Make Gradle executable
      run: chmod +x gradlew
    - name: List Available Android Devices
      run: $ANDROID_HOME/cmdline-tools/latest/bin/avdmanager list
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'gradle'
    - name: run tests
      uses: reactivecircus/android-emulator-runner@v2.34.0
      with:
        api-level: 36
        target: google_apis
        profile: 'pixel_7_pro'
        arch: x86_64
        script: ./gradlew connectedAndroidTest
  release:
    name: Release APK file
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        token: ${{ secrets.GH_PAT }}
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'gradle'
    - name: Copy secure values
      run: echo $GOOGLE_SERVICES > ./app/google-services.json
      env:
        GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
    - name: Make Gradle executable
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Move APK file to main folder
      run: mv ./app/build/outputs/apk/debug/app-debug.apk ./DroidEggs-debug.apk
    - name: Update CHANGELOG
      id: changelog
      uses: requarks/changelog-action@v1
      with:
        token: ${{ github.token }}
        tag: ${{ github.ref_name }}
    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Provided by GH Actions
      with:
        tag_name: ${{ github.ref }}
        name: Release ${{ github.ref_name }}
        body: ${{ steps.changelog.outputs.changes }}
        generate_release_notes: true
        draft: false
        prerelease: false
        files: DroidEggs-debug.apk
    - name: Commit CHANGELOG.md
      uses: stefanzweifel/git-auto-commit-action@v6
      with:
        branch: master
        commit_message: 'docs: update CHANGELOG.md for ${{ github.ref_name }} [skip ci]'
        file_pattern: CHANGELOG.md
